.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  background-color: #424d68;
  align-items: center;
  justify-content: center;
  text-align: left;
}

th,
h3 {
  color: #cde859;
}

tbody tr:nth-child(odd) {
  background-color: #4c6196;
}

tbody tr:hover {
  background-color: #6c7794;
}

.search {
  margin-bottom: 5rem;
}

.SearchBar {
  display: flex;
  flex-direction: column;
}

.checkbox-group {
  font-size: 12px;
}
